.container {
    box-sizing: border-box;
    padding-inline: 1rem;
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
    padding-bottom: 4rem;
}

@media (max-width: 43.5rem) {
    .container {
        flex-direction: column;
    }

    .sortAndFilter {
        flex-direction: row;
    }
}

.search {
    display: flex;
    color: black;
    font-size: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
    background-color: white;
    margin-left: 1rem;
}

.search::placeholder {
    color: black;
    opacity: 65%;
}