.navbar {
  padding-inline: 1.5rem;
  width: 100%;
  background-color: var(--dark-grey);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.brand {
  color: var(--navbar-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
}

.brand > svg {
  fill: orange;
}

.cart {
  color: var(--navbar-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
