.cartContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 400px;
    margin: auto;
    margin-top: 4rem;
}

.header {
    background-color: var(--dark-grey);
    color: #eee;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.productsContainer {
    border: 1px solid grey;
}

.productsContainer > div:not(:last-child) {
    border-bottom: 1px solid grey;
}

.priceContainer > span {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.priceContainer > span:last-of-type > span:first-of-type {
    font-size: 20px;
}

.priceContainer {
    border: 1px solid grey;
    background-color: white;
    padding: 1.5rem 2rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceContainer .totalPrice {
    font-weight: bold;
    font-size: 1.3rem;
}

.orderBtn {
    color: black !important;
    border: 2px solid black !important;
}
.btn {
    text-transform: uppercase;
    outline: none;
    border: 2px solid red;
    color: red;
    padding: 0.5rem 1rem;
    border-radius: 5%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    font-size: 1.5rem;
  }