.productsContainer {
  display: grid;
  --cards-in-column: 5;
  grid-template-columns: repeat(var(--cards-in-column), 1fr);
  gap: 1rem;
}

@media (max-width: 86rem) {
  .productsContainer {
    --cards-in-column: 3;
  }
}

@media (max-width: 57rem) {
  .productsContainer {
    --cards-in-column: 2;
  }
}

@media (max-width: 43.5rem) {
  .productsContainer {
    --cards-in-column: 1;
  }
}
